<mat-drawer-container class="example-container" autosize>

  <!-- INICIO DEL SIDEBAR -->



  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-nav-list>

      <a mat-list-item
      routerLink="home"
      #homeLink="routerLinkActive"
      [activated]="homeLink.isActivate">Inicio</a>

      <a mat-list-item
      routerLink="courses"
      #coursesLink="routerLinkActive"
      [activated]="coursesLink.isActivate">Cursos</a>

      <a mat-list-item
      routerLink="alumnos"
      #studentsLink="routerLinkActive"
      [activated]="studentsLink.isActivate">Estudiantes</a>

      <a (click)="logout()" mat-list-item>Salir</a>

    </mat-nav-list>


</mat-drawer>

  <!-- <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div> -->

  <!-- INICIO DE LA TOOLBAR -->

  <mat-toolbar>

    <button
    mat-icon-button
    (click)="drawer.toggle()"
    class="example-icon">
      <mat-icon>apps</mat-icon>
    </button>

    <span>Alumnos</span>
    <span class="example-spacer"></span>

  </mat-toolbar>


  <!-- llamado al router -->

  <router-outlet></router-outlet>

  <!-- fin de la toolbar -->

</mat-drawer-container>
