<mat-drawer-container class="example-container" autosize>

  <!-- INICIO DEL SIDEBAR -->



  <mat-drawer opened="true" #drawer class="example-sidenav" mode="side">

    <mat-nav-list>

      <a mat-list-item
      routerLink="home"
      routerLinkActive="activated">Inicio</a>

      <a mat-list-item
      routerLink="courses"
      routerLinkActive="activated">Cursos</a>

      <a mat-list-item
      routerLink="students"
      routerLinkActive="activated">Estudiantes</a>

      <a mat-list-item
      routerLink="../auth/registrer"
      routerLinkActive="activated">Alta de Cursos</a>

      </mat-nav-list>





    </mat-drawer>



  <!-- INICIO DE LA TOOLBAR -->

  <mat-toolbar>

    <button
    mat-icon-button
    (click)="drawer.toggle()"
    class="example-icon">
      <mat-icon>apps</mat-icon>
    </button>

    <span>Alumnos</span>
    <span class="example-spacer"></span>




  </mat-toolbar>


  <!-- llamado al router -->

  <router-outlet></router-outlet>

  <!-- fin de la toolbar -->
  <div class="background-image"></div>
</mat-drawer-container>
