<div class="estudiantes">

@if (isLoading$ |async) {

<p>Cargando ....</p>

}@else { @if (error$|async) {<p>Un Error en la carga</p>
<div class="reload">
  <button
(click)="reloadPage()"
mat-stroked-button>Recargar</button>
</div>
}@else {
<mat-list role="list">
  <mat-list-item *ngFor="let students of students$ | async" role="listitem"
    >{{ students.name }}
    <button
    (click)="deleteStudents(students.name)"
    mat-icon-button color="warn"><mat-icon>cancel</mat-icon></button>
  </mat-list-item>
</mat-list>

} }

<!-- <mat-table mat-table[studentsList]="studentsList" class="mat-elevation-z8">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matColumnDef="">N°</th>
    <td mat-cell *matCellDef="let element">{{element.position}}</td>
  </ng-container>

  <ng-container matColumnDef="StudentsId">
    <th mat-header-cell *matColumnDef="">Id</th>
    <td mat-cell *matCellDef="">{{students$| async}}</td>
  </ng-container>

</mat-table> -->

</div>
