<!-- Dialogo de entrada a la plataforma con el mail y la contraseña -->

<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
  "
>
  <mat-card style="max-width: 400px">
    <mat-card-header><h4>Inicio de Sesion</h4></mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <!-- USUARIO -->

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput />
          <mat-hint>Debe ingresar un mail valido</mat-hint>
          <mat-icon mat-sufix>mail</mat-icon>
        </mat-form-field>
        <!-- CONTRASEÑA -->

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput />
          <mat-hint>Debe ingresar su contraseña</mat-hint>
          <mat-icon mat-sufix>lock</mat-icon>
        </mat-form-field>

        <button
        routerLink="../dashboard"
        routerLinkActive="activate"
        type="submit"
          class="w-full mt-5"
          mat-flat-button
        >
          Iniciar Sesion
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
